<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

In [6]:
# Excercise 2

# Data Science Tools and Ecosystem

In [5]:
# Excercise 3

In this notebook, Data Science Tools and Ecosystem are summarized.

In [18]:
# Excercise 10

**Objectives:**

    * Popular Languages for Data Science
    * Common Libraries for Data Science
    * Popular Data Science Tools
    * Example of a simple Arithmetic expression
    * Example of Minutes to Hours conversion

In [7]:
# Excercise 4

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia
4. Java

In [8]:
# Excercise 5

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Scikit-Learn
3. TensorFlow
4. Keras
5. Matplotlib
6. SciPy

In [9]:
# Excercise 6

|Data Science Tools|
|------------------|
|TensorFlow        |
|Apache Spark      |
|R Studio          |

In [10]:
# Excercise 7

### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
# Excercise 8

In [12]:
# This a simple arithmetic expression to mutiply then add integers

In [13]:
(3*4)+5

17

In [14]:
# Excercise 9

In [15]:
# This will convert 200 minutes to hours by diving by 60

In [16]:
(200/60)

3.3333333333333335

In [19]:
# Excercise 11

## Author

Ipsita Paul